# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @chrispat @clarkbw @deleteriousEffect @heww @joaodrp @justincormack @milosgajdos @waynr @wy65701436 
